/* REGOLE GENERALI */

[class*="col-"]{
    background-color: #FF000050;
    height: 200px;
    border: 1px solid black;
    line-height: 200px;
    text-align: center;
}


/* FOOTER*/

footer .col-6 > .row div{
    height: 190px;
    line-height: inherit;
    border: 1px solid white;
}

footer .col-6 > .row{
    padding: 5px
}
